#card{
  height: 300px !important;
  position: relative !important;
}

#cardImg{
  height: 250px !important;
  object-fit: cover;

}

#cardTitle{
  font-size: 15px !important;
  position: absolute !important;
  bottom: 10px;
  left: 0;
  right: 0;
}